<div>
  <mat-form-field>
    <input matInput [(ngModel)]="filterText" placeholder="Filter" />
  </mat-form-field>
  <mat-form-field style="width: 40px">
    <mat-select [(value)]="filterTextType">
      <mat-option [value]="'text'">""</mat-option>
      <mat-option [value]="'logic'">!&</mat-option>
      <mat-option [value]="'regex'">.*</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Category" [(value)]="filterCategory">
      <mat-option [value]="JSON.stringify([])">All</mat-option>
      <mat-option [value]="JSON.stringify(categoryDefault)"
        >Important</mat-option
      >
      <mat-option
        *ngFor="let category of categories"
        [value]="JSON.stringify([category])"
        >{{ category }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Type" [(value)]="filterType">
      <mat-option [value]="JSON.stringify([])">All</mat-option>
      <mat-option *ngFor="let type of types" [value]="JSON.stringify([type])">{{
        type
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Progress" [(value)]="filterProgress">
      <mat-option [value]="'all'">All</mat-option>
      <mat-option [value]="'noprogress'">No progress</mat-option>
      <mat-option [value]="'inprogress'">In progress</mat-option>
      <mat-option [value]="'notfinished'">Not finished</mat-option>
      <mat-option [value]="'finished'">Finished</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="openAll()">Open all</button>
  <button mat-button (click)="closeAll()">Close all</button>
  <!-- <button mat-button (click)="fix()">Fix</button> -->
</div>
<div class="header">
  <div><span>Name</span></div>
  <div><span>Category</span></div>
  <div><span>Type</span></div>
  <div><span>Progress</span></div>
  <div><span>Note</span></div>
</div>
<div #scroll class="scrollable" (scroll)="virtualScroll()">
  <div class="virtual" [style.height.px]="virtualHeight">
    <div
      class="virtual-item"
      *ngFor="let item of visibleItems"
      [class.even]="item.isEven"
      [style.top.px]="item.top"
      [style.height.px]="item.height"
      [style.lineHeight.px]="item.height"
      [attr.data-item]="item.hierarchyName"
    >
      <div>
        <button
          *ngIf="item.children?.length"
          mat-icon-button
          (click)="item.isOpen = !item.isOpen; filterItems()"
        >
          <mat-icon *ngIf="!item.isOpen">keyboard_arrow_right</mat-icon>
          <mat-icon *ngIf="item.isOpen">keyboard_arrow_down</mat-icon>
        </button>
      </div>
      <div [class.child]="item.owner">
        {{ item.name }}
      </div>
      <div>
        {{ item.category }}
      </div>
      <div>
        {{ item.type }}
      </div>
      <div>
        <div *ngIf="!item['itemCount'] || item['itemCount'] < 4">
          <mat-checkbox
            *ngFor="let p of (item['itemCount'] || 2 | numberToArray)"
            [attr.data-progress]="p + 1"
            [checked]="item.userItem?.progress > p"
            (change)="setProgress(item, $event.checked ? p + 1 : p)"
          ></mat-checkbox>
        </div>
      </div>
      <button class="edit" mat-icon-button (click)="editNote(item)">
        <mat-icon>edit</mat-icon>
      </button>
      <div class="notes" [title]="item['location']">
        {{ item.userItem?.note }} {{ item['location'] }}
      </div>
    </div>
  </div>
</div>
